name: Deploy Frontend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_cicd
          chmod 600 ~/.ssh/id_cicd

      - name: Test SSH connection
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_cicd ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "echo Connected!"


      - name: Sync source to server
        run: |
          rsync -avz \
            -e "ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_cicd" \
            ./ \
            ${SERVER_USER}@${SERVER_HOST}:/home/deploy/signalist/frontend/

      - name: Build Docker on server
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_cicd ${SERVER_USER}@${SERVER_HOST} << 'EOF'
            cd /home/deploy/signalist
            docker compose build frontend
            docker compose up -d frontend
          EOF
